* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header img {
  height: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

label, input[type="text"], input[type="password"] {
  display: block;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background- }

  #operacao {
    align-items: center;
    justify-content: center;
    display:flex;
  }

  form {
    display: grid;
    column-gap: 1rem;
    margin-left: 1rem;
    padding: 1rem;
  }
  